<!--Deanne Laylay-->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->
<footer>
  <nav class="navbar fixed-bottom" style="background-color: rgb(247, 247, 247);">
    <div class="container">
      <p class="navbar-text mx-auto my-0 text-center">Deanne Laylay &copy;2023 All rights reserved</p>
    </div>
  </nav>
</footer>