 <!--Deanne Laylay-->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->
 <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>