<!--Deanne Laylay-->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="container" style="margin-top: 5rem;">
<div class="jumbotron">
    <div class="row">
        <div class="col-md-6" style="padding-top: 80px;">

            <h1 style="color: #AD8330;"><strong>My name is Deanne Laylay.</strong></h1>
            <h4><br><strong>BACKGROUND:</strong></h4>
            <p>
                <br>I graduated with a Bachelor's degree in Electronics Engineering and worked as a software support for years. Currently, I am pursuing an Advanced Diploma in Software Engineering Technology at Centennial College in order to expand my programming knowledge and skills.
                <br><br>My interest in programming kindled during pandemic. I want to design and develop a website to help your business build its online presence.
                <br><br>You may download my resume below to learn more about my qualifications and experience. 
            </p>
                <a href="/Content/DeanneLaylayResume.pdf" style="color: blue" target="_blank" class="resume-link">View My Resume</a>             
                                
        </div>
        <div class="col-md-6" style="padding-left: 120px;";>
            <br>
            <br>
            <img src="/img/Profile Picture.svg" alt="My Photo" alt="" width="512" height="512">     
        </div>
    </div>
    <style>
        .resume-link::after {
          content: '→';
          margin-left: 5px;
        }
        </style>  

    
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>