<!--Deanne Laylay-->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<main class="container">
    <div class="jumbotron" style="padding: 50px; margin-top: 5rem;">
        
        <div class="row">
            <div class="col-md-6" style="padding-left: 20px;">

                <br>
                <br>
                <br>
                <h1 style="font-size: 60px;">Hi! I'm <strong><span style="color: #AD8330;">Deanne,</span></strong></h1>
                    <h2>an aspiring Website Developer.</h2>
                    <br>
                    <br>
                    <br>
                    <h4 style="font-size: 22px;">Feel free to know more <a href="/about" style="color: #AD8330;">About Me.</a></h4>
                    
                </a>


                <br>
                <br>

            </div>
            <div class="col-md-6 text-center">
                <img src="/img/hero.svg" alt="Hello">
                <br><br>
                <p><i>"Code is like poetry. Create elegant solutions, inspire through innovation, 
                    <br>and make a positive impact on the world through the power of technology."</i></p>

            </div>
        </div>
    
    </div>
</main>

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
      



   