<!--Deanne Laylay-->
<!-- 301279203 -->
<!-- COMP229 SEC.001 -->
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>


<main class="container" style="margin-top: 5rem;">
    <div class="jumbotron">
        <br>
        <h1 style="color: #AD8330;"><strong>Academic Projects</strong></h1>


        <div class="row">
            <div class="col-md-3 text-center">
                <br>
                <img src="/img/Trip Community.svg" alt="Trip Community" width="190" height="190">
            </div>
            <div class="col-md-9">
                <h4><br><strong>Trip Community: Group Travel Planning Application (SRS)</strong></h4>
                <p>
                    <i>A user-friendly platform addressing the lack of accessible and reliable information for group travel planning.</i>
                    <ul>
                        <li>Implemented Agile methodology for effective teamwork</li>
                        <li>Contributed to problem statement, capabilities, stakeholder identification, and sub-system analysis</li>
                        <li>Participated in identifying the sub-systems of the application and developed use case diagrams, class responsibility collaboration (CRC), and design class diagrams to provide an overview of the system's functionalities and the interactions between different components</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <br>
                <img src="/img/Grocery Online.svg" alt="Grocery Online Ordering" width="250" height="250">
            </div>
            <div class="col-md-9">
                <h4><br><br><strong>Grocery Online Ordering Application</strong></h4>
                <p>
                    <i>An application developed using Oracle SQL and PL/SQL for online grocery ordering.</i>
                    <ul>
                        <li>Collaborated with a team to create SQL and PL/SQL scripts to build the application's database</li>
                        <li>Implemented tables to store information such as customer details, order information, grocery items, and delivery details</li>
                        <li>Developed the Entity Relationship Diagram for the database, providing a visual representation of the relationships between different entities and their attributes</li>
                        <li>Implemented PL/SQL functions and procedures to handle various operations</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 text-center">
                <br>
                <img src="/img/Herb Snap.svg" alt="Herb Snap" width="250" height="250">
            </div>
            <div class="col-md-9">
                <h4><br><br><strong>Herb Snap</strong></h4>
                <p>
                    <i>An Image Processing application developed using MATLAB and MySQL to identify Herb Leaves and NPK Content of Bitter Gourd Leaves </i>
                    <ul>
                        <li>Implemented various image processing techniques to extract features and classify herb leaves</li>
                        <li>Performed experiments to analyze the NPK content of Ampalaya leaves using image processing algorithms</li>
                        <li>Developed a user-friendly interface for the application</li>
                    </ul>
                </p>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</main>

<%- include ('partials/bottom_nav.ejs') %>
<%- include ('partials/footer.ejs') %>
